# Not actually used - using script, tini or openrc-init, but
# busybox init should also work.
# /etc/inittab

::sysinit:/sbin/openrc sysinit
::sysinit:/sbin/openrc boot
::wait:/sbin/openrc default

# On virtual console
#hvc0::respawn:/sbin/getty -L 115200 hvc0 vt100

# -n - don't prompt for user name
# -l
hvc0::respawn:/sbin/getty -n /sbin/autologin

# Stuff to do for the 3-finger salute
::ctrlaltdel:/sbin/reboot

# Stuff to do before rebooting
::shutdown:/sbin/openrc shutdown

